@page "{id?}"
@model RioCourseWork.Areas.MainArea.Pages.Workers.InfoModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    form {
        border-bottom: 5px solid black;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-content: start;
        font-size: 20px;
        margin-bottom: 24px;
    }

    #info label {
        font-size: 20px;
        text-align: left;
    }

    #RefreshArea {
        display: flex;
        flex-direction: column;
        justify-content: left;
        border-bottom: 5px solid black;
        margin-top: 24px;
        margin-bottom: 24px;
        font-size: 20px;
        background-color: rgba(255,255,255,0.125);
        padding: 12px;
    }

    img{
        width:320px;
    }
</style>
<h2 class="text-center">Инофрмация о личности</h2>
<form id="info" method="post">
    <label class="form-label">Имя:</label>
    <input asp-for="@Model.Person.Name" class="form-control" />
    <label class="form-label">Фамилия:</label>
    <input asp-for="@Model.Person.Surname" class="form-control" />
    <label class="form-label">Email:</label>
    <input asp-for="@Model.Person.Email" class="form-control" />
    <label class="form-label">Id: @(Model.Person.Id)</label>
    <br />
    <label>RfId: </label>
    <input asp-for="@(Model.Person.RfIdKey.Value)" class="form-control mb-2" />
    <input type="submit" class="btn btn-outline-primary" value="Сохранить" asp-page-handler="Save" asp-route-id="@Model.Person.Id" />
</form>
<form method="post" enctype="multipart/form-data">
    @if (Model.HasPhoto)
    {
        <img src="~/Faces/@(Model.Person.Id).jpg" />
    }
    <input type="file" accept="image/png, image/gif, image/jpeg" class="form-control" name="img" />
    <br />
    <input type="submit" value="Загрузить фото" class="btn btn-outline-primary" asp-page-handler="UploadPhoto" />
</form>
<div id="RefreshArea">
    <h4 class="text-center">Журнал</h4>
    @if (Model.Person.Records.Count != 0)
    {
        @foreach (var items in Model.Person.Records)
        {
            <label>@items.Time — @items.type</label>
        }
    }
    else
    {
        <label class="text-center text-danger">Нет записей</label>
    }
</div>
<form method="post">
    <input value="Удалить" type="submit" class="btn btn-danger" asp-page-handler="Delete" asp-route-id="@Model.Person.Id" />
</form>

@section Scripts{
    <script>
        function Update() {
            $('#RefreshArea').load(location.href + ' #RefreshArea > *')
        }
        setInterval(Update, 3000);
    </script>
}
