@page
@model RioCourseWork.Areas.MainArea.Workers.ListModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .pElement{
        box-shadow:0px 0px 5px #000000;
        padding:12px;
        border-radius:8px;
        transition:.5s;
        display:flex;
        flex-direction:column;
        text-decoration:none;
        margin-bottom:24px;
    }

    .pElement:hover{
        background-color:rgba(0,0,0,0.5);
    }
</style>
<div>
    <a href="Create" class="btn btn-primary">Добавить</a>
    @if (Model.Persons.Count() > 0)
    {
        <div class="row" style="padding:12px;">
            @for (int i = 0; i < Model.Persons.Count(); i++)
            {
                <a class="pElement" asp-page="Info" asp-route-id="@Model.Persons.ElementAt(i).Id">
                    <label>Номер: @(i + 1)</label>
                    <label>Имя: @(Model.Persons.ElementAt(i).Name)</label>
                    <label>Фамилия: @(Model.Persons.ElementAt(i).Surname)</label>
                    <label>Email: @(Model.Persons.ElementAt(i).Email)</label>
                    <label>Id: @(Model.Persons.ElementAt(i).Id)</label>
                </a>
            }
        </div>
    }
    else
    {
        <h2 class="text-center text-danger">Ничего не найдено</h2>
    }
</div>
